<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Wang Yaqi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>私人推荐</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/private.css">
</head>

<body>
    <div class="content">
        <div class="banner"></div>
        <div class="advertising">
            <div class="ad_top">
                <p class="ad_title">大院资讯</p>
            </div>
            <div class="ad_content clearfloat">
                <div class="ad_left"></div>
                <ul class="ad_right clearfloat">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="ad_bottom clearfloat">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="private clearfloat">
            <!-- 新闻 -->
            <div class="private_left">
                <div class="news_top">
                    <ul class="news_ul clearfloat">
                        <li class="active">热点资讯</li>
                        <li>行业新闻</li>
                        <li>独家新闻</li>
                        <li>政策解读</li>
                    </ul>
                </div>
                <div class="news_content">
                    <!-- 热点资讯 -->
                    <div class="hot_news">
                        <section class="clearfloat">
                            <div class="news_img">
                                <img src="../../public/images/messages/news.png">
                            </div>
                            <a class="news_details">
                                <p class="news_title">国务院加码小微企业政策扶持 定向降准将至？</p>
                                <div class="tags clearfloat">
                                    <i class="news_icon"></i>
                                    <div>羊毛党</div>
                                    <div>高年化</div>
                                </div>
                                <p class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                    et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                                <div class="news_state">
                                    <div class="source">来源：网贷大院</div>
                                    <div class="date">2018-06-07</div>
                                </div>
                            </a>
                        </section>
                        <section class="clearfloat">
                            <div class="news_img">
                                <img src="../../public/images/messages/news.png">
                            </div>
                            <a class="news_details">
                                <p class="news_title">国务院加码小微企业政策扶持 定向降准将至？</p>
                                <div class="tags clearfloat">
                                    <i class="news_icon"></i>
                                    <div>羊毛党</div>
                                    <div>高年化</div>
                                </div>
                                <p class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                    et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                                <div class="news_state clearfloat">
                                    <div class="source">来源：网贷大院</div>
                                    <div class="date">2018-06-07</div>
                                </div>
                            </a>
                        </section>
                    </div>
                    <!-- 行业新闻 -->
                    <div class="trade_news">
                        <section class="clearfloat">
                            <div class="news_img">
                                <img src="../../public/images/messages/news.png">
                            </div>
                            <a class="news_details">
                                <p class="news_title">数据共享 院与同行</p>
                                <div class="tags clearfloat">
                                    <i class="news_icon"></i>
                                    <div>羊毛党</div>
                                    <div>高年化</div>
                                </div>
                                <p class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                    et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                                <div class="news_state">
                                    <div class="source">来源：网贷大院</div>
                                    <div class="date">2018-06-07</div>
                                </div>
                            </a>
                        </section>
                        <section class="clearfloat">
                            <div class="news_img">
                                <img src="../../public/images/messages/news.png">
                            </div>
                            <a class="news_details">
                                <p class="news_title">P2P网贷备案或延期，仁润股份助力平台加速合规</p>
                                <div class="tags clearfloat">
                                    <i class="news_icon"></i>
                                    <div>羊毛党</div>
                                    <div>高年化</div>
                                </div>
                                <p class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                    et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                                <div class="news_state clearfloat">
                                    <div class="source">来源：网贷大院</div>
                                    <div class="date">2018-06-07</div>
                                </div>
                            </a>
                        </section>
                    </div>
                    <!-- 独家新闻 -->
                    <div class="only_news">
                        <section class="clearfloat">
                            <div class="news_img">
                                <img src="../../public/images/messages/news.png">
                            </div>
                            <a class="news_details">
                                <p class="news_title">保本保收益时代终结！火爆的保本基金凉凉了</p>
                                <div class="tags clearfloat">
                                    <i class="news_icon"></i>
                                    <div>羊毛党</div>
                                    <div>高年化</div>
                                </div>
                                <p class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                    et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                                <div class="news_state">
                                    <div class="source">来源：网贷大院</div>
                                    <div class="date">2018-06-07</div>
                                </div>
                            </a>
                        </section>
                        <section class="clearfloat">
                            <div class="news_img">
                                <img src="../../public/images/messages/news.png">
                            </div>
                            <a class="news_details">
                                <p class="news_title">资管新规满月：理财不保本 投资人的钱该往哪放？</p>
                                <div class="tags clearfloat">
                                    <i class="news_icon"></i>
                                    <div>羊毛党</div>
                                    <div>高年化</div>
                                </div>
                                <p class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                    et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                                <div class="news_state clearfloat">
                                    <div class="source">来源：网贷大院</div>
                                    <div class="date">2018-06-07</div>
                                </div>
                            </a>
                        </section>
                    </div>
                    <!-- 政策解读 -->
                    <div class="policy_news">
                        <section class="clearfloat">
                            <div class="news_img">
                                <img src="../../public/images/messages/news.png">
                            </div>
                            <a class="news_details">
                                <p class="news_title">中国互金协会：切断失信人在互金领域融资渠道</p>
                                <div class="tags clearfloat">
                                    <i class="news_icon"></i>
                                    <div>羊毛党</div>
                                    <div>高年化</div>
                                </div>
                                <p class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                    et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                                <div class="news_state">
                                    <div class="source">来源：网贷大院</div>
                                    <div class="date">2018-06-07</div>
                                </div>
                            </a>
                        </section>
                        <section class="clearfloat">
                            <div class="news_img">
                                <img src="../../public/images/messages/news.png">
                            </div>
                            <a class="news_details">
                                <p class="news_title">【奖项申报】2018浙江省大数据产业峰会“星禾奖”申报</p>
                                <div class="tags clearfloat">
                                    <i class="news_icon"></i>
                                    <div>羊毛党</div>
                                    <div>高年化</div>
                                </div>
                                <p class="news_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                                    et viverra justo commodo. Proin sodales pulvinar tempor. ...</p>
                                <div class="news_state clearfloat">
                                    <div class="source">来源：网贷大院</div>
                                    <div class="date">2018-06-07</div>
                                </div>
                            </a>
                        </section>
                    </div>
                </div>
            </div>
            <!-- 热门返利平台 -->
            <div class="private_right">
                <div class="platform_top">
                    <div class="platform_title">热门返利平台</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="../../public/js/jquery.min.js"></script>
<script>
    $(".headerTop_right li a").removeClass("border01");

    $(".news_ul>li").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
        $(".news_content>div").eq($(this).index()).show().siblings().hide();
    })
</script>